<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2b0952d5-f57e-46de-8b8c-504af2735f09" name="ActDelayConvert" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2b0952d5-f57e-46de-8b8c-504af2735f09fileName">ActDelayConvert</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>TR_id</con:name>
      <con:value>4282</con:value>
    </con:property>
    <con:property>
      <con:name>TR_section_path</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TR_run_name</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TR_plan_name</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TR_case_type</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="5214331a-f93a-4dbb-8438-d770e5d5ca80">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
